.container {
  margin-top: 3rem;
}

.shopping {
  display: flex;
}

.side-menu {
  padding-right: 5rem;
  border-right: 1px rgb(129, 126, 126) solid;
}

.side-menu > ul {
  padding: 0;
  list-style-type: none;
}

.side-menu-item {
  padding: 0.8rem 0.8rem 0.8rem 0;
  transition: 0.4s all;
  cursor: pointer;
}

.side-menu-item:hover {
  background-color: rgb(190, 245, 179);
}

.side-menu-item.selected {
  font-weight: 800;
  background-color: rgb(116, 199, 99);
}
