/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color 0.15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/* My styles */

h1 {
  text-align: center;
  padding: 2rem 0;
}

.order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.order:nth-child(odd) {
  background: rgb(233, 229, 229);
}

.order-product {
  padding-left: 0.6rem;
}

.order-details {
  color: rgb(64, 160, 96);
}
