body {
  height: 100vh;
}

.navigation {
  height: 5%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 95%;
  padding-top: 3rem;
}

.main-content,
.create-item-form,
.item-view {
  flex: 2;
}

.footer {
  text-align: center;
  padding: 1rem 0;
}

h3 {
  padding-bottom: 2rem;
}

.journal-item {
  padding-bottom: 2rem;
}

.journal-item h6 {
  font-weight: 600;
  padding-bottom: 1rem;
}

.journal-item p {
  color: rgb(51, 51, 51);
  line-height: 1.8rem;
}
