.my-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form.check-item {
  display: inline-block;
  margin-right: 1rem;
}

.checked {
  color: tomato;
  text-decoration: line-through;
}
