<%- include('partials/header.ejs', {lists: lists, currentList: null }) -%>

<h1>To-Do List App</h1>
<p>Add new lists via the navbar, select your list and add/update/remove items from it.</p>

<%- include('partials/footer.ejs') -%>