<%- include('./partials/header.ejs') -%>

<div class="item-view">
  <h3><%= item.title %></h3>
  <p><%= item.body %></p>
  <div class="item-view-buttons">
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-light">Delete</button>
  </div>
</div>

<%- include('./partials/footer.ejs') -%>