<form class="check-item" action="/done/<%= itemId %>" method="POST">
  <input type="hidden" name="listId" value="<%= listId %>" >
  <input type="checkbox" name="done" onChange="this.form.submit()" <%= checked %>>
</form>
