<span>
  <form class="form-inline" action="/update/<%= itemId %>" method="POST">
    <div class="form-group mb-6">
      <input class="form-control" type="text" name="item" value="<%= item %>">
    </div>
    <button class="btn btn-primary mb-6" type="submit" name="listId" value="<%= listId %>">Save</button>
  </form>
</span>
