<form class="form-inline" action="/addItem" method="POST">
  <div class="form-group mb-6">
    <input class="form-control" type="text" name="createdItem" placeholder="New to-do item">
  </div>
  <button class="btn btn-primary mb-6" type="submit" name="currentList" value="<%= currentList %>">+</button>
</form>
