body {
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 40px);
}

.post {
  width: 100%;
}

.form {
  width: 100%;
}

.post-header {
  display: flex;
  justify-content: space-between;
}
