<%- include('partials/header.ejs', { themes: themes }) -%>

<div class="jumbotron">
  <h1>Main page</h1>
  <p>Use this app to add different themes and write articles for each of them.</p>
</div>
<h3>Add a new theme</h3>
<form action="/theme/add" method="POST">
  <div class="form-group">
    <label for="inputName">Theme Name:</label>
    <input class="form-control" type="text" id="inputName" name="themeName">
  </div>
  <button class="btn btn-primary" type="submit">Add</button>
</form>

<%- include('partials/footer.ejs') -%>